/* Basic styling */
body, h2, nav a {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
    background-color: #004080;
    padding: 1em;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section Styling */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    margin-top: 10px;
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 8px;
}

.cta-button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.8em 1.5em;
    background-color: #004080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #80c1ff;
}

/* Footer */
footer {
    background-color: #004080;
    padding: 1em;
    color: white;
}


